.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

@font-face {
  font-family: 'Glober W01 Regular';
  src: url("../assets/fonts/Glober/glober_regular-webfont.eot?#iefix");
  src: url("../assets/fonts/Glober/glober_regular-webfont.eot?#iefix") format("eot"), url("../assets/fonts/Glober/glober_regular-webfont.woff") format("woff"), url("../assets/fonts/Glober/glober_regular-webfont.ttf") format("truetype"), url("../assets/fonts/Glober/glober_regular-webfont.svg#glober_bold-webfont") format("svg"); }

@font-face {
  font-family: 'Glober W01 SemiBold';
  src: url("../assets/fonts/Glober/glober_semibold-webfont.eot?#iefix");
  src: url("../assets/fonts/Glober/glober_semibold-webfont.eot?#iefix") format("eot"), url("../assets/fonts/Glober/glober_semibold-webfont.woff") format("woff"), url("../assets/fonts/Glober/glober_semibold-webfont.ttf") format("truetype"), url("../assets/fonts/Glober/glober_semibold-webfont.svg#glober_bold-webfont") format("svg"); }

@font-face {
  font-family: 'Glober W01 Bold';
  src: url("../assets/fonts/Glober/glober_bold-webfont.eot?#iefix");
  src: url("../assets/fonts/Glober/glober_bold-webfont.eot?#iefix") format("eot"), url("../assets/fonts/Glober/glober_bold-webfont.woff") format("woff"), url("../assets/fonts/Glober/glober_bold-webfont.ttf") format("truetype"), url("../assets/fonts/Glober/glober_bold-webfont.svg#glober_bold-webfont") format("svg"); }

@font-face {
  font-family: 'asxicon';
  src: url("../assets/fonts/asxicon/asxicon.eot?m46s12");
  src: url("../assets/fonts/asxicon/asxicon.eot?m46s12#iefix") format("embedded-opentype"), url("../assets/fonts/asxicon/asxicon.ttf?m46s12") format("truetype"), url("../assets/fonts/asxicon/asxicon.woff?m46s12") format("woff"), url("../assets/fonts/asxicon/asxicon.svg?m46s12#asxicon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="asx-icon-"],
[class*="asx-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'asxicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 18px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

  .asx-icon-dollar-circle:before {
    content: "\e93a";
  }
  .asx-icon-info-circle:before {
    content: "\e93b";
  }
  .asx-icon-tick-circle:before {
    content: "\e93c";
  }
  .asx-icon-cross-cricle:before {
    content: "\e93d";
  }
  .asx-icon-view-tile:before {
    content: "\e900";
  }
  .asx-icon-view-list:before {
    content: "\e901";
  }
  .asx-icon-controls:before {
    content: "\e902";
  }
  .asx-icon-bookmarked:before {
    content: "\e903";
  }
  .asx-icon-bookmark:before {
    content: "\e904";
  }
  .asx-icon-arrow:before {
    content: "\e905";
  }
  .asx-icon-checkedbox:before {
    content: "\e906";
  }
  .asx-icon-event:before {
    content: "\e907";
  }
  .asx-icon-articles:before {
    content: "\e908";
  }
  .asx-icon-checkbox:before {
    content: "\e909";
  }
  .asx-icon-cross:before {
    content: "\e90a";
  }
  .asx-icon-up:before {
    content: "\e90b";
  }
  .asx-icon-googleplus:before {
    content: "\e90c";
  }
  .asx-icon-down:before {
    content: "\e90d";
  }
  .asx-icon-eye:before {
    content: "\e90e";
  }
  .asx-icon-facebook:before {
    content: "\e90f";
  }
  .asx-icon-podcast:before {
    content: "\e910";
  }
  .asx-icon-radio:before {
    content: "\e911";
  }
  .asx-icon-radiochecked:before {
    content: "\e913";
  }
  .asx-icon-right:before {
    content: "\e914";
  }
  .asx-icon-search:before {
    content: "\e915";
  }
  .asx-icon-linkedin:before {
    content: "\e916";
  }
  .asx-icon-circle-cross:before {
    content: "\e917";
  }
  .asx-icon-circle-tick:before {
    content: "\e918";
  }
  .asx-icon-circle:before {
    content: "\e919";
  }
  .asx-icon-tick:before {
    content: "\e91a";
  }
  .asx-icon-twitter:before {
    content: "\e91b";
  }
  .asx-icon-video:before {
    content: "\e91c";
  }
  .asx-icon-calendar:before {
    content: "\e91d";
  }
  .asx-icon-quote:before {
    content: "\e91e";
  }
  .asx-icon-article:before {
    content: "\e91f";
  }
  .asx-icon-clock:before {
    content: "\e920";
  }
  .asx-icon-left:before {
    content: "\e922";
  }
  .asx-icon-mail:before {
    content: "\e945";
  }
  .asx-icon-url:before {
    content: "\e9cb";
  }
  .asx-icon-youtube:before {
    content: "\ea9d";
  }
  .asx-icon-share:before {
    content: "\e912";
  }
  .asx-icon-code:before {
    content: "\e930";
  }
  .asx-icon-dashboard:before {
    content: "\e931";
  }
  .asx-icon-edit:before {
    content: "\e932";
  }
  .asx-icon-cross-bold:before {
    content: "\e933";
  }
  .asx-icon-favourites:before {
    content: "\e934";
  }
  .asx-icon-fax:before {
    content: "\e935";
  }
  .asx-icon-filter:before {
    content: "\e936";
  }
  .asx-icon-folder:before {
    content: "\e937";
  }
  .asx-icon-mail-bold:before {
    content: "\e938";
  }
  .asx-icon-notification:before {
    content: "\e939";
  }
  .asx-icon-pdf:before {
    content: "\e940";
  }
  .asx-icon-phone:before {
    content: "\e941";
  }
  .asx-icon-tick-bold:before {
    content: "\e942";
  }
  .asx-icon-upload:before {
    content: "\e943";
  }
  .asx-icon-view-grid-bold:before {
    content: "\e944";
  }
  .asx-icon-view-list-bold:before {
    content: "\e946";
  }
  .asx-icon-visualisations:before {
    content: "\e947";
  }
  .asx-icon-play:before {
    content: "\e948";
  }
  .asx-icon-trash:before {
    content: "\e949";
  }
  .asx-icon-log-out:before {
    content: "\e950";
  }
  .asx-icon-placeholder:before {
    content: "\e951";
  }
  .asx-icon-switch-on:before {
    content: "\e952";
  }
  .asx-icon-switch-off:before {
    content: "\e953";
  }

.dark-bg {
  background-color: #0C3B6C;
  padding: 20px; }

.block-sm {
  padding: 10px 20px;
  display: inline-block; }

.block-lg {
  padding: 20px 30px;
  display: inline-block; }

*:focus, .focus {
  outline: none !important;
  opacity: 1 !important; }

*:active, .active {
  outline: none !important;
  opacity: 1 !important;
  box-shadow: none !important; }

body, h3, h4, h5, h6, p, .h3, .h4, .h5, .h6 {
  font-family: "Glober W01 Regular";
  color: #555555; }

.colorblock {
  height: 70px;
  width: 100%;
  background-color: black;
  padding: 10px 15px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }
  .colorblock h4 {
    font-family: "Glober W01 Bold";
    font-size: 18px;
    color: white;
    margin: 0; }
  .colorblock p {
    color: white;
    margin-top: 7px;
    line-height: 10px; }
  .colorblock.white {
    background-color: white; }
  .colorblock.inverse h4, .colorblock.inverse p {
    color: black; }
  .colorblock.brand-primary {
    background-color: #0C3B6C; }
  .colorblock.brand-secondary {
    background-color: #215EAC; }
  .colorblock.brand-thirdly {
    background-color: #DA4167; }
  .colorblock.brand-info {
    background-color: #215EAC; }
  .colorblock.brand-success {
    background-color: #3BB249; }
  .colorblock.brand-warning {
    background-color: #F26722; }
  .colorblock.brand-danger {
    background-color: #EF4337; }
  .colorblock.gray-base {
    background-color: #888888; }
  .colorblock.gray-darken-1 {
    background-color: #666666; }
  .colorblock.gray-darken-2 {
    background-color: #555555; }
  .colorblock.gray-darken-3 {
    background-color: #333333; }
  .colorblock.gray-darken-4 {
    background-color: #0F0F0F; }
  .colorblock.gray-lighten-1 {
    background-color: #AAAAAA; }
  .colorblock.gray-lighten-2 {
    background-color: #DDDDDD; }
  .colorblock.gray-lighten-3 {
    background-color: #EEEEEE; }
  .colorblock.gray-lighten-4 {
    background-color: #F5F5F5; }
  .colorblock.gray-lighten-5 {
    background-color: #F1F3F5; }
  .colorblock.accent-light {
    background-color: #009FDF; }
  .colorblock.accent-muted {
    background-color: #89A0B3; }
  .colorblock.accent-dark {
    background-color: #0C3B6C; }
  .colorblock.context-link {
    background-color: #007FB1; }
  .colorblock.context-text {
    background-color: #555555; }
  .colorblock.context-info {
    background-color: #215EAC; }
  .colorblock.context-action {
    background-color: #215EAC; }
  .colorblock.context-favorite {
    background-color: #F5A623; }
  .colorblock.context-highlight {
    background-color: #F5F5F5; }
  .colorblock.context-positive {
    background-color: #159D26; }
  .colorblock.context-negative {
    background-color: #DA4167; }
  .colorblock.context-neutral {
    background-color: #555555; }
  .colorblock.context-whatever {
    background-color: #151515; }
  .colorblock.sequence-color-1 {
    background-color: #009FDF; }
  .colorblock.sequence-color-2 {
    background-color: #0C3B6C; }
  .colorblock.sequence-color-3 {
    background-color: #89A0B3; }
  .colorblock.sequence-color-4 {
    background-color: #215EAC; }
  .colorblock.sequence-color-5 {
    background-color: #00A58E; }
  .colorblock.sequence-color-6 {
    background-color: #38B249; }
  .colorblock.sequence-color-7 {
    background-color: #AFDBCE; }
  .colorblock.sequence-color-8 {
    background-color: #FFC649; }
  .colorblock.sequence-color-9 {
    background-color: #EF4437; }
  .colorblock.sequence-color-10 {
    background-color: #CDCBD5; }
  .colorblock.sequence-color-11 {
    background-color: #232E45; }

.grayscale .col .gradient {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px; }
  .grayscale .col .gradient .colorblock {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 0 15px;
    height: 50px; }
    .grayscale .col .gradient .colorblock p, .grayscale .col .gradient .colorblock h4 {
      margin: 0; }
    .grayscale .col .gradient .colorblock p {
      line-height: 50px; }

.grayscale .col > .colorblock h4 {
  line-height: 50px; }

.grayscale .col:last-child > .colorblock {
  border: 1px solid #F1F3F5; }

.grayscale .col:last-child h4, .grayscale .col:last-child p {
  color: black; }

.icons span {
  font-size: 30px;
  display: inline-block;
  padding: 50px; }

h1, .h1-inner, h2, h3, h4 {
  color: #0C3B6C;
  font-family: "Glober W01 Regular", sans-serif;
  letter-spacing: normal;
  line-height: 1.25;
  font-weight: normal;
  text-transform: none; }

h1 {
  font-size: 56px;
  line-height: 70px; }

.h1-inner {
  font-size: 46px;
  line-height: 60px;
  font-family: "Glober W01 SemiBold", sans-serif; }

h2 {
  font-size: 36px;
  line-height: 50px; }

h3 {
  font-size: 28px;
  line-height: 40px; }

h4 {
  font-size: 22px;
  line-height: 30px; }

h5 {
  font-size: 18px;
  line-height: 30px;
  font-family: "Glober W01 SemiBold", sans-serif; }

p {
  font-size: 16px;
  line-height: 28px; }
  p.body-large {
    font-size: 18px;
    line-height: 30px; }
  p.body-bold {
    font-family: "Glober W01 SemiBold", sans-serif;
    line-height: 20px; }
  p.body-small {
    font-size: 14px;
    line-height: 20px; }
  p.disclaimer {
    font-size: 12px;
    line-height: 20px; }

.btn {
  color: white;
  background-color: #007FB1;
  min-width: 75px;
  max-width: 100%;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  padding: 15px 30px;
  height: 50px;
  text-decoration: none;
  position: relative;
  font-family: "Glober W01 SemiBold", sans-serif;
  font-size: 14px; }
  .btn:hover, .btn:focus, .btn.focus {
    opacity: .8;
    color: white; }
  .btn.asx-btn.arrow:after {
    font-family: 'asxicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e914";
    font-size: 10px;
    margin-left: 15px; }
  .btn.btn-sm {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5; }
  .btn.btn-lg {
    font-size: 18px;
    height: 60px; }
  .btn.btn-primary {
    background-color: #007FB1;
    font-weight: normal;
    border: 2px solid transparent; }
    .btn.btn-primary:hover {
      color: white;
      text-decoration: none;
      border-color: none;
      opacity: .8; }
    .btn.btn-primary.dark {
      background-color: #0C3B6C;
      font-weight: normal;
      border: 2px solid transparent; }
      .btn.btn-primary.dark:hover {
        color: white;
        text-decoration: none;
        border-color: none;
        opacity: .8; }
    .btn.btn-primary.white {
      background-color: white;
      color: #009FDF;
      font-weight: normal;
      border: 2px solid transparent; }
  .btn.btn-secondary {
    color: #007FB1;
    background-color: transparent;
    font-weight: normal;
    border: 2px solid #007FB1; }
    .btn.btn-secondary.dark {
      color: #0C3B6C;
      background-color: transparent;
      font-weight: normal;
      border: 2px solid #0C3B6C; }
    .btn.btn-secondary.white {
      color: white;
      background-color: transparent;
      font-weight: normal;
      border: 2px solid white; }
  .btn.btn-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .btn.btn-fullwidth {
    width: 100%; }
  .btn.down-arrow:after {
    content: "\e90d"; }

a {
  color: #007FB1;
  font-size: 16px; }
  a:hover {
    text-decoration: underline;
    color: #007FB1; }
  a.dark {
    color: #0C3B6C; }
    a.dark:hover {
      color: #0C3B6C; }
  a.inverse {
    color: white; }
    a.inverse:hover {
      color: white; }
  a.more {
    font-family: "Glober W01 SemiBold", sans-serif; }
    a.more:after {
      font-family: "asxicon";
      content: "\e914";
      display: inline-block;
      position: relative;
      padding-left: 2px;
      font-size: 10px; }

.label {
  font-size: 11px;
  padding: 8px 15px;
  border-radius: 3px;
  border: 1px solid; }
  .label.label-default {
    background-color: white;
    border-color: rgba(0, 0, 0, 0.2);
    color: #898989; }
  .label.label-grey {
    background-color: #E3E3E3;
    border-color: #E3E3E3;
    color: #666666; }
  .label.label-blue {
    background-color: #DCE5EC;
    color: #005CB9;
    border-color: #DCE5EC; }
  .label.label-red {
    background-color: #F9EBEE;
    color: #C33D5D;
    border-color: #F9EBEE; }
  .label.label-green {
    background-color: #DCEADC;
    color: #018701;
    border-color: #DCEADC; }
  .label.label-file {
    padding-right: 25px; }
    .label.label-file .icon {
      color: inherit;
      transform: rotate(180deg) translateY(-50%);
      font-size: 11px;
      display: inline-block;
      line-height: 11px;
      position: absolute; }

.caret {
  margin-left: 25px !important;
  border: none;
  float: right;
  color: #555555; }
  .caret:after {
    font-family: 'asxicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e90d";
    font-size: 10px;
    position: absolute;
    top: calc(50% - 5px); }

.open .caret:after {
  transform: rotate(180deg) !important; }

.asx-form-group {
  position: relative; }
  .asx-form-group label {
    position: absolute;
    font-family: "Glober W01 Regular";
    margin-bottom: 0;
    top: 0;
    left: 0;
    font-size: 11px;
    background: #F1F3F5;
    padding: 10px 15px 0px;
    width: 100%;
    color: #555555; }
  .asx-form-group .asx-input {
    height: 60px;
    border-radius: 0;
    background-color: #F1F3F5;
    padding: 30px 15px 10px;
    color: #151515;
    box-shadow: none;
    border: none;
    border-bottom: 3px solid transparent; }
    .asx-form-group .asx-input:focus {
      border-bottom-color: #009FDF; }
    .asx-form-group .asx-input:disabled {
      opacity: .6; }
      .asx-form-group .asx-input:disabled + label {
        opacity: .6;
        background-color: transparent; }
  .asx-form-group textarea.asx-input {
    min-height: 150px;
    width: 100%;
    resize: none; }
    .asx-form-group textarea.asx-input + label + .errors {
      margin-top: 0; }
      .asx-form-group textarea.asx-input + label + .errors + .count {
        float: right;
        font-size: 11px;
        line-height: 22px; }
  .asx-form-group .errors {
    display: none;
    color: #EF4337;
    font-size: 11px;
    margin-top: 3px;
    margin-left: 15px;
    line-height: 22px; }
  .asx-form-group .asx-input:focus + label {
    color: #009FDF; }
  .asx-form-group.has-error .asx-input {
    border-bottom-color: #EF4337;
    box-shadow: none; }
  .asx-form-group.has-error .errors {
    display: inline-block; }
  .asx-form-group .dropdown-menu {
    width: 100%;
    top: 60px; }

.asx-dropdown.dropdown .dropdown-toggle {
  text-align: left; }
  .asx-dropdown.dropdown .dropdown-toggle:hover {
    opacity: 1; }
  .asx-dropdown.dropdown .dropdown-toggle.single-line {
    color: #007FB1;
    background-color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 3px solid;
    padding: 15px 0;
    font-family: "Glober W01 SemiBold"; }
    .asx-dropdown.dropdown .dropdown-toggle.single-line:hover, .asx-dropdown.dropdown .dropdown-toggle.single-line:focus {
      color: #007FB1;
      background-color: white;
      border-color: #007FB1; }
    .asx-dropdown.dropdown .dropdown-toggle.single-line .caret {
      margin-right: 11px;
      color: #007FB1;
      margin-left: 25px; }
  .asx-dropdown.dropdown .dropdown-toggle.asx-input {
    padding: 30px 30px 10px 15px;
    width: 100%; }
  .asx-dropdown.dropdown .dropdown-toggle:disabled:hover {
    background-color: #F1F3F5;
    border-bottom-color: transparent; }

.asx-dropdown.dropdown .dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0;
  border-top: 3px solid #007FB1;
  margin-top: -3px; }
  .asx-dropdown.dropdown .dropdown-menu li > a {
    font-family: "Glober W01 SemiBold";
    color: #555555;
    font-size: 14px;
    padding: 6px 30px;
    line-height: 50px; }
    .asx-dropdown.dropdown .dropdown-menu li > a:hover {
      background-color: #007FB1;
      color: white; }
  .asx-dropdown.dropdown .dropdown-menu li.selected > a {
    background-color: #007FB1;
    color: white; }
  .asx-dropdown.dropdown .dropdown-menu li.disabled > a {
    opacity: .6; }
    .asx-dropdown.dropdown .dropdown-menu li.disabled > a:hover {
      background-color: white;
      color: #555555;
      opacity: .6; }
  .asx-dropdown.dropdown .dropdown-menu .divider {
    margin: 0; }

.asx-dropdown.dropdown .asx-input + .dropdown-menu {
  width: 100%; }

.asx-checkbox.checkbox label {
  font-size: 16px;
  line-height: 28px;
  padding-left: 0; }
  .asx-checkbox.checkbox label:after {
    content: '';
    display: table;
    clear: both; }
  .asx-checkbox.checkbox label .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #AAAAAA;
    background-color: #F1F3F5;
    border-radius: 2px;
    width: 28px;
    height: 28px;
    float: left;
    margin-right: 15px; }
    .asx-checkbox.checkbox label .cr .cr-icon {
      position: absolute;
      font-size: 20px;
      line-height: 27px;
      transform: translateX(-50%);
      left: 50%;
      color: white;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  .asx-checkbox.checkbox label input[type="checkbox"] {
    display: none; }
  .asx-checkbox.checkbox label input[type="checkbox"] + .cr > .cr-icon {
    opacity: 0; }
  .asx-checkbox.checkbox label input[type="checkbox"]:checked + .cr {
    background-color: #009FDF;
    border-color: #009FDF; }
    .asx-checkbox.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
      opacity: 1; }
  .asx-checkbox.checkbox label input[type="checkbox"]:disabled + .cr {
    background-color: #F1F3F5;
    border-color: #AAAAAA; }
    .asx-checkbox.checkbox label input[type="checkbox"]:disabled + .cr > .cr-icon {
      opacity: 1;
      color: #AAAAAA; }

.asx-checkbox.checkbox:focus .cr, .asx-checkbox.checkbox label:focus .cr {
  border-color: #009FDF; }

.asx-checkbox.checkbox.has-error .cr {
  border-color: #EF4337; }

.asx-checkbox.checkbox.has-error label {
  color: #555555; }

.asx-checkbox.checkbox.disabled label {
  color: #AAAAAA; }

.asx-radio.radio input[type="radio"] {
  position: absolute;
  left: -9999px; }
  .asx-radio.radio input[type="radio"] + label {
    position: relative;
    padding-left: 42px;
    cursor: pointer;
    line-height: 28px;
    display: inline-block;
    font-size: 16px; }
    .asx-radio.radio input[type="radio"] + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 28px;
      height: 28px;
      border: 1px solid #AAAAAA;
      background-color: #F1F3F5;
      border-radius: 100%; }
    .asx-radio.radio input[type="radio"] + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: white;
      position: absolute;
      top: 8px;
      left: 8px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .asx-radio.radio input[type="radio"] + label:focus:before {
      border-color: #009FDF; }
    .asx-radio.radio input[type="radio"] + label:disabled + label {
      color: #AAAAAA; }
      .asx-radio.radio input[type="radio"] + label:disabled + label:after {
        background-color: #AAAAAA; }
      .asx-radio.radio input[type="radio"] + label:disabled + label:before {
        border: 1px solid #AAAAAA;
        background-color: #F1F3F5; }

.asx-radio.radio.has-error input[type="radio"] + label {
  color: #555555; }
  .asx-radio.radio.has-error input[type="radio"] + label:before {
    border-color: #EF4337; }

.asx-radio.radio input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.asx-radio.radio input[type="radio"]:checked + label:before {
  background-color: #009FDF;
  border-color: #009FDF; }

.asx-radio.radio input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.asx-radio.radio:focus input[type="radio"] + label:before {
  border-color: #009FDF; }

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
  outline: none;
  box-shadow: none; }
  .btn-default:active:hover.asx-input, .btn-default:active:focus.asx-input, .btn-default:active.focus.asx-input, .btn-default.active:hover.asx-input, .btn-default.active:focus.asx-input, .btn-default.active.focus.asx-input, .open > .btn-default.dropdown-toggle:hover.asx-input, .open > .btn-default.dropdown-toggle:focus.asx-input, .open > .btn-default.dropdown-toggle.focus.asx-input {
    background-color: #F1F3F5; }

.btn-toggle {
  background: #666666;
  padding: 0;
  position: relative;
  border: none;
  height: 28px;
  width: 52px;
  min-width: 52px;
  border-radius: 28px;
  margin: 0; }
  .btn-toggle:before, .btn-toggle:after {
    line-height: 28px;
    width: 48px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity 0.25s;
    font-family: 'asxicon' !important;
    font-size: 14px; }
  .btn-toggle:before {
    content: '\e953';
    left: -0.5rem; }
  .btn-toggle:after {
    content: '\e952';
    opacity: 0.5; }
  .btn-toggle > .handle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background: white;
    transition: left 0.25s; }
  .btn-toggle.active {
    transition: background-color 0.25s;
    background-color: #009FDF;
    box-shadow: none; }
    .btn-toggle.active > .handle {
      left: 27px;
      transition: left 0.25s; }
    .btn-toggle.active:before, .btn-toggle.active:after {
      letter-spacing: 0.75px;
      left: 8px;
      width: 100px; }
    .btn-toggle.active:before {
      text-align: right;
      opacity: 0.5; }
    .btn-toggle.active:after {
      text-align: left;
      opacity: 1; }

.btn-toggle.btn-switch:focus,
.btn-toggle.btn-switch.focus,
.btn-toggle.btn-switch:focus.active,
.btn-toggle.btn-switch.focus.active {
  outline: none; }

.btn-toggle.btn-switch.btn-switch:before, .btn-toggle.btn-switch.btn-switch:after {
  color: #fff;
  letter-spacing: 1px; }

.btn-toggle.btn-switch.btn-switch:before {
  text-align: right; }

.btn-toggle.btn-switch.btn-switch:after {
  text-align: left;
  opacity: 0; }

.btn-toggle.btn-switch.btn-switch.active:before {
  opacity: 0; }

.btn-toggle.btn-switch.btn-switch.active:after {
  opacity: 1; }

.asx-btn-group-toggle .btn-secondary {
  border-color: #009FDF;
  color: #009FDF; }
  .asx-btn-group-toggle .btn-secondary.active {
    background-color: #009FDF;
    color: white;
    box-shadow: none; }

.asx-multiple-checkboxes {
  position: relative; }
  .asx-multiple-checkboxes > span {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 10;
    font-size: 16px; }
  .asx-multiple-checkboxes .btn-group {
    display: block; }
    .asx-multiple-checkboxes .btn-group .dropdown-toggle {
      height: 60px;
      border-radius: 0;
      background-color: #F1F3F5;
      padding: 10px 30px 10px 150px;
      color: #151515;
      box-shadow: none;
      border: none;
      text-align: left;
      width: 100%; }
    .asx-multiple-checkboxes .btn-group .multiselect-container {
      padding: 20px 5px;
      top: 60px;
      width: 100%;
      border-radius: 0 0 4px 4px;
      border: 1px solid #F1F3F5;
      box-shadow: none; }

.nav-tabs.asx-tab > li > a {
  color: #555555;
  font-family: "Glober W01 SemiBold";
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  border: none;
  padding: 15px 0;
  margin-right: 30px; }
  .nav-tabs.asx-tab > li > a:after {
    content: '';
    background-color: #007FB1;
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 3px;
    width: 100%;
    -webkit-transition: all 250ms ease 0s;
    -moz-transition: all 250ms ease 0s;
    -ms-transition: all 250ms ease 0s;
    -o-transition: all 250ms ease 0s;
    transition: all 250ms ease 0s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  .nav-tabs.asx-tab > li > a:hover, .nav-tabs.asx-tab > li > a:focus {
    color: #555555;
    background-color: transparent; }

.nav-tabs.asx-tab > li:not(.disabled) > a:hover:after {
  transform: scale(1); }

.nav-tabs.asx-tab > li.disabled > a {
  opacity: .6; }

.nav-tabs.asx-tab > li.active > a {
  color: #007FB1; }
  .nav-tabs.asx-tab > li.active > a:hover, .nav-tabs.asx-tab > li.active > a:focus {
    border: none;
    color: #007FB1; }
  .nav-tabs.asx-tab > li.active > a:after {
    transform: scale(1); }

.nav-tabs.asx-tab > li.sort {
  float: right; }
  .nav-tabs.asx-tab > li.sort > a {
    color: #0C3B6C;
    margin-right: 0;
    border-bottom: none;
    padding: 15px 25px 15px 0; }
    .nav-tabs.asx-tab > li.sort > a:after {
      transform: scale(1);
      height: 1px;
      background-color: #0C3B6C; }
  .nav-tabs.asx-tab > li.sort.open > a {
    background-color: transparent; }
  .nav-tabs.asx-tab > li.sort .dropdown-menu {
    left: auto;
    right: 0;
    border-top: 3px solid #0C3B6C; }
    .nav-tabs.asx-tab > li.sort .dropdown-menu li > a:hover {
      background-color: #0C3B6C; }
  .nav-tabs.asx-tab > li.sort .caret {
    top: calc(50% - 2px);
    right: 10px;
    position: absolute;
    color: #0C3B6C; }

.asx-accordion.panel-group .panel-default {
  border: none; }
  .asx-accordion.panel-group .panel-default .panel-heading {
    background-color: #F1F3F5;
    border: none; }
    .asx-accordion.panel-group .panel-default .panel-heading .panel-title {
      position: relative;
      color: #151515; }
      .asx-accordion.panel-group .panel-default .panel-heading .panel-title .caret {
        margin-right: 10px; }
        .asx-accordion.panel-group .panel-default .panel-heading .panel-title .caret:after {
          transform: rotate(180deg); }
      .asx-accordion.panel-group .panel-default .panel-heading .panel-title.collapsed .caret:after, .asx-accordion.panel-group .panel-default .panel-heading .panel-title[aria-expanded="false"] .caret:after {
        transform: inherit; }
  .asx-accordion.panel-group .panel-default .panel-collapse {
    padding: 15px 30px; }
