<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'testing')}">

<body>
<script src="https://issuercp-asx.cs151.force.com/IssuerPortal/lightning/lightning.out.js"></script>

<div class="container">
  <h2>User Management</h2>
</div>

<div id="lwcUserManagement"></div>

<script>
  $Lightning.use("c:UserManagementOut", function() {
      $Lightning.createComponent(
          "c:issuerUserManagement",
          {},
          "lwcUserManagementOut",
          function(cmp) {
              console.log("LWC component was created");
          }
      );
  });
  </script>

</body>
</html>
